*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:20px;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;;
    width: 100%;
    background-color: white;
    
}
.head{
    font-family: 'Aldrich',sans-serif;
    font-size: 24px;
    font-weight: 800;
}
.navigation_container{
    display: flex;
    justify-content: flex-start;
    font-family: 'Source Sans 3',sans-serif;
    font-size: 18px;
    gap:30px;
    padding-right: 80px;
}
.tabs{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.tabs a{
    text-decoration: none;
    transition: color 0.3s ease;
    color: black;
}
.tabs a:hover{
    color:blue;
}

.bottom_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 40px;
    padding: 30px;
    flex-direction: column;
}
h1{
    font-family: 'Poppins',sans-serif;
    font-size: 72px;
    font-weight: 600;
    text-align: center;
    width: 100%;
    max-width: 1200px;

  }
  p{
    font-family: 'source sans 3',sans-serif;
    font-size: 22px;
    text-align: center;
    width: 100%;
    max-width: 1200px;

  }
  img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    max-height: 100vh;
  }
  @media (max-width: 768px) {
    .top_container {
        flex-direction: row; 
        align-items: flex-start;
        padding: 10px;
    }

    .head {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .navigation_container {
        justify-content: center; 
        gap: 20px;
        padding-right: 0;
    }
    h1{
        font-size: 60px;
    }
    
}
picture img {
    width: 100%;
    height: auto; 
  }

  @media (min-width: 1200px) {
    picture img {
      height: 500px; 
      object-fit: cover; 
    }
  }
  .menu-toggle {
    display: none;
  }
  .icon {
    display: none;
    font-size: 28px;
    color: black;
    cursor: pointer;
  }
  .tabs {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .tabs a {
    text-decoration: none;
    color:black;
    font-size: 18px;
    padding: 10px;
  }
  
  @media (max-width: 768px) {
    .tabs {
      display: none;
      flex-direction: column;
      background-color:white;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      padding: 16px;
      z-index: 10;
    }
  
    .tabs a {
      color: black;
    }
    .icon {
        display: block;
      }
      .menu-toggle:checked + .icon + .tabs {
        display: flex;
      }
    }